@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind variants;
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}

body {
    font-size: 1rem;
    font-weight: 300;
    font-family: 'Poppins'!important;
    background-color: #fff;
}

.container-fluid {
    min-height: calc(100vh - 7.5rem);
}

@layer components {
    .btn{
        @apply transition w-auto p-[10px_50px] rounded cursor-pointer font-medium text-[13px] text-center
    }
    .btn-primary{
        @apply bg-primary text-white hover:bg-dark-primary
    }
    .btn-secondary{
        @apply bg-secondary text-white hover:bg-dark-secondary
    }
    .btn-success{
        @apply bg-success text-white hover:bg-dark-success
    }
    .btn-danger{
        @apply bg-danger text-white hover:bg-dark-danger
    }
    .btn-warning{
        @apply bg-warning text-white hover:bg-dark-warning
    }
    .title-page {
        @apply text-xl font-semibold text-primary
    }
    .subtitle-page {
        @apply text-base font-light text-slate-500 cursor-pointer
    }
    .navbar { 
        @apply z-20 bg-white w-10/12 fixed flex justify-end items-center border-b top-0 right-0 h-[10vh] px-[2%]
    }
    .page-header { 
        @apply z-10 bg-white items-center justify-between flex px-[2%] border-b top-[10vh] right-0 fixed w-10/12 h-[8vh] max-h-[8vh]
    }
    .main-wrapper{
        @apply mt-[18vh] w-full relative h-auto
    }
    .input-group{
        @apply relative flex flex-col justify-start items-start w-[13%]
    }
    .input-label { 
        @apply text-[12px] text-slate-500 font-medium mb-1
    }
    .form-control { 
        @apply transition w-full border border-primary/20 p-[6px_12px] outline-none rounded text-sm bg-white focus:border-primary
    }
    .data-grid-label{
        @apply text-sm text-slate-900 font-semibold
    }
    .data-grid-default-data{
        @apply text-base text-slate-900 font-light w-full overflow-hidden text-ellipsis
    }
    .data-text-default{
        @apply font-bold text-sm text-slate-900
    }
    .eme-link-disabled{
        @apply cursor-pointer p-[6%_8%] w-full h-fit text-slate-600 border-l-2 border-l-slate-300 font-light text-[0.8rem]
    }
    .eme-link-active{
        @apply cursor-pointer p-[6%_8%] w-full h-fit text-primary border-l-4 border-l-secondary font-bold text-[0.8rem]
    }
}
